<h1>VEGGIE BURGERS!</h1>

<h2>Desired Burgers!</h2>

<ul>
  {{#each burger}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" burger_name="devoured" value="true">
          <button type="submit">DEVOURED!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers that Disappeared</h2>

<ul>
  {{#each burger}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" burger_name="devoured" value="false">
          <button type="submit">EAT IT!</button>
        </form>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Veggie Burger</h2>
<form class="create-update-form" action="/" method="POST">

  <div class="form-group">
    <label for="ca">Veggie Burger Name:</label>
    <input type="text" id="ca" burger_name="burger_name">
  </div>

  <div class="form-group">
    <label for="slee">devoured?</label><br>
    <input type="radio" burger_name="devoured" value= false> devoured!<br>
    <input type="radio" burger_name="devoured" value= false> Eat it
  </div>

  <button type="submit">Add Veggie Burger</button>
</form>
